<?xml version="1.0" encoding="UTF-8"?>
<config>
	<frontend>
		<directory>
			<css>css</css>
			<js>js</js>
			<images>images</images>
			<fonts>fonts</fonts>

			<skin>skin</skin>
			<default>default</default>

			<base>base</base>
			<app>app</app>
			<code>code</code>

			<client>client</client>

			<controller>controller</controller>
			<model>model</model>
			<view>view</view>
			
		</directory>
	</frontend>

	<system>
		<url>http://localhost/lexiphp/</url>
	</system>
	
	<database>
		<hostname>localhost</hostname>
		<username>root</username>
		<password></password>
		<dbname>lexiphp</dbname>
	</database>
</config>